
<!-- Modal -->
<div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Export Document</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <small class="help-block">Please enter a filename, no need to include file extension.</small>
            <input type="text" id="filename" name="filename" class="form-control" placeholder="Enter Filename" required>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center">
        <button data-toggle="export" data-type="markdown" type="button" class="btn btn-primary">
          <i class="glyphicon glyphicon-download"></i> Export Markdown
        </button>

        <button data-toggle="export" data-type="html" type="button" class="btn btn-primary">
          <i class="glyphicon glyphicon-download"></i> Export HTML
        </button>
        <!--
        <button type="button" class="btn btn-primary">
          <i class="glyphicon glyphicon-download"></i> Export Flatdoc
        </button>
         -->
      </div>
    </div>
  </div>
</div>